In [1]:
from pandas import Series

<h1 style="color:green;">Create Series using List</h1>

In [2]:
num = [1, 3, 5, 7, 9]
se = Series(num)

In [3]:
se

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [4]:
se[2]

5

<h1 style="color:green;">Create Series with custom index</h1>

In [5]:
se2 = Series([100, 200, 300], index=['a', 'b', 'c'])

In [6]:
se2

a    100
b    200
c    300
dtype: int64

In [7]:
se2['b']

200

<h1 style="color:green;">Create Series using Dictionaries</h1>

In [8]:
salary = {'John': 3000, 'Tim': 4500, 'Rob': 5600}
se3 = Series(salary)

In [9]:
se3

John    3000
Tim     4500
Rob     5600
dtype: int64

In [10]:
se3['Rob']

5600

<h1 style="color:green;">Reindexing</h1>

In [11]:
se4 = Series([100, 200, 300, 400, 500], index=['d', 'a', 'b', 'e', 'c'])
se4

d    100
a    200
b    300
e    400
c    500
dtype: int64

In [12]:
se4.reindex(['a', 'b', 'c', 'd', 'e', 'f'])

a    200.0
b    300.0
c    500.0
d    100.0
e    400.0
f      NaN
dtype: float64