<h1 style="color:green;">Series</h1>

In [1]:
from pandas import Series

In [2]:
series = Series([3, 7, 1, 4, 7, 2], index=[2, 7, 3, 5, 9, 1])
series

2    3
7    7
3    1
5    4
9    7
1    2
dtype: int64

In [3]:
series.sort_index()

1    2
2    3
3    1
5    4
7    7
9    7
dtype: int64

<h1 style="color:green;">DataFrame</h1>

In [4]:
from pandas import DataFrame

In [5]:
data = {'Speed': [101, 109, 106],
         'Temp': [34, 23, 42],
         'Humidity': [45, 23, 58]
        }
frame = DataFrame(data)
frame

   Speed  Temp  Humidity
0    101    34        45
1    109    23        23
2    106    42        58

In [6]:
frame2 = frame.reindex([2, 1, 0])
frame2

   Speed  Temp  Humidity
2    106    42        58
1    109    23        23
0    101    34        45

In [7]:
frame2.sort_index()

   Speed  Temp  Humidity
0    101    34        45
1    109    23        23
2    106    42        58

In [8]:
frame2 = frame.reindex(columns=['Temp', 'Humidity', 'Speed'])
frame2

   Temp  Humidity  Speed
0    34        45    101
1    23        23    109
2    42        58    106

In [9]:
frame2.sort_index(axis=1)

   Humidity  Speed  Temp
0        45    101    34
1        23    109    23
2        58    106    42

In [10]:
frame2.sort_index(axis=1, ascending=False)

   Temp  Speed  Humidity
0    34    101        45
1    23    109        23
2    42    106        58