<h1 style="color:green;">Series</h1>

In [1]:
from pandas import Series

In [2]:
series = Series([1400, 1200, 3100], index=['Speed', 'Temp', 'Humidity'])
series

Speed       1400
Temp        1200
Humidity    3100
dtype: int64

In [3]:
series.sort_values()

Temp        1200
Speed       1400
Humidity    3100
dtype: int64

<h1 style="color:green;">DataFrame</h1>

In [4]:
from pandas import DataFrame

In [5]:
data = {'Speed': [101, 109, 106],
         'Temp': [34, 23, 42],
         'Humidity': [45, 23, 58]
        }
frame = DataFrame(data)
frame

   Speed  Temp  Humidity
0    101    34        45
1    109    23        23
2    106    42        58

In [6]:
frame.sort_values(by='Temp')

   Speed  Temp  Humidity
1    109    23        23
0    101    34        45
2    106    42        58