<h1 style="color:green;">Series</h1>

In [1]:
from pandas import Series

In [2]:
series1 = Series([1, 2, 3, 4, 5])
series2 = Series([100, 200, 300, 400, 500, 600])

In [3]:
series1 + series2

0    101.0
1    202.0
2    303.0
3    404.0
4    505.0
5      NaN
dtype: float64

<h1 style="color:green;">DataFrame</h1>

In [4]:
from pandas import DataFrame

In [5]:
data1 = {'speed': [100, 103, 105],
        'Temp': [34, 23, 42]
        }
frame1 = DataFrame(data1)

In [6]:
data2 = {'Speed': [101, 109, 106],
         'Temp': [34, 23, 42],
         'Humidity': [45, 23, 58]
        }
frame2 = DataFrame(data2)

In [7]:
frame1 + frame2

   Humidity  Speed  Temp  speed
0       NaN    NaN    68    NaN
1       NaN    NaN    46    NaN
2       NaN    NaN    84    NaN

<h1 style="color:green;">Series & DataFrame</h1>

In [8]:
series3 = Series([100, 200, 300], index=['Speed', 'Temp', 'Humidity'])
series3

Speed       100
Temp        200
Humidity    300
dtype: int64

In [9]:
frame2

   Speed  Temp  Humidity
0    101    34        45
1    109    23        23
2    106    42        58

In [10]:
frame2 - series3

   Speed  Temp  Humidity
0      1  -166      -255
1      9  -177      -277
2      6  -158      -242