In [1]:
from pandas import Series
from pandas import DataFrame
import numpy as np

<h1 style="color:green;">Series</h1>

In [2]:
series = Series([1, 2, 3, 4, np.nan], index=['a', 'b', 'c', 'd', 'e'])
series

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [3]:
series.dropna()

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

<h1 style="color:green;">DataFrame</h1>

In [4]:
data = {'Speed': [101, np.nan, 106],
         'Temp': [34, 23, 42],
         'Humidity': [45, np.nan, 58]
        }
frame = DataFrame(data)
frame

   Speed  Temp  Humidity
0  101.0    34      45.0
1    NaN    23       NaN
2  106.0    42      58.0

In [5]:
frame.dropna()

   Speed  Temp  Humidity
0  101.0    34      45.0
2  106.0    42      58.0

In [6]:
frame.fillna(0)

   Speed  Temp  Humidity
0  101.0    34      45.0
1    0.0    23       0.0
2  106.0    42      58.0